$main-hedaer-menu_backgroundcolor: #252e30;
$green_01: #2ecc71;
$header1: #566366;
$paragraph1: #919191;
$background_section: #f2f2f1;
$contactme-background: #252e30;
$input-background: #4b5456;
$footer-background: #191f21;
