#contactMe-container {
  margin-top: 100px;
  background-color: $contactme-background;

  h1 { color: white; margin-top: 86px; }

  .email-phone-table {
    font-family: Roboto-Regular;
    font-size: 17px;

    tr td:first-child {
      color: white;
    }

    tr td:last-child {
      padding-left: 30px;
      color: $paragraph1;
    }
  }

  .column {
    &.row { margin-bottom: 60px; }
    .contactMe-container-leftColumn {  }
    .contactMe-container-rightColumn {
      font-family: Roboto-Regular;

      form {
        .field {
          label {
            color: white;
            font-weight: normal;
            font-size: 17px;
            margin-bottom: 10px;

            &:after { color: $paragraph1; }
           }

           input, textarea {
             background-color: $input-background;
             border-radius: 0;
           }
        }

        .submit.button {
          background-color: $footer-background;
          color: white;
          border-radius: 0;
          text-transform: uppercase;
          font-family: Roboto-Regular;
          font-size: 17px;
          font-weight: normal;
        }
      }
    }
  }
}
